
.visible {
    visibility: visible
}

.hidden {
    visibility: hidden
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0 auto;

}

td, th {
    text-align: center;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #C7DADC;
}


.box {
  padding-top: 3cm;
  text-align: center;
  padding-bottom: 3cm;
}
