
.visible {
    visibility: visible
}

.hidden {
    visibility: hidden
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.box {
  padding-top: 3cm;
  text-align: center;
}
